.header {
    margin: 0;
    height: 5%;
    display: flex;
    background-color: rgb(196, 210, 255);
}

.header h1 {
    font-size: 16px;
    margin: 0;
    margin-left: 20;
    margin-right: 10;
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    margin: 0;
    background-color: rgb(196, 210, 255);
    height: 2%;
}

.header button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #f0f0f0;
}

.middle {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 91%;
    background-color: #f0f0f0;
}

.left,
.right {
    padding: 20px;
}

@media (max-width: 600px) {
    .middle {
        flex-direction: column;
        height: auto;
    }

    .left,
    .right {
        padding: 10px;
    }
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-viewer {
    width: 50vw;
    height: 86vh;
    overflow: scroll;
    position: relative;
    border: 1px solid #ccc;
    padding: 0;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #image-viewer {
        width: 90vw;
        height: 70vh;
    }
}

#image-viewer img {
    width: 100%;
    height: auto;
    position: absolute;
    cursor: grab;
    object-fit: cover;
    padding: 0;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90vw;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

hr {
    margin: 10px 0;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.row-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

select,
input[type='date'] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type='text'] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}