.footer {
    margin: 0;
    background-color: rgb(196, 210, 255);
    height: 2%;
}

.header button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #f0f0f0;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 91%;
    background-color: #f0f0f0;
}

.left {
    display: flex;
    flex-direction: column;
}

.left,
.right {
    padding: 20px;
}


.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-viewer {
    width: 50vw;
    height: 83vh;
    overflow: scroll;
    position: relative;
    border: 1px solid #ccc;
    padding: 0;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #image-viewer {
        width: 90vw;
        height: 70vh;
    }
}

#image-viewer img {
    width: 100%;
    height: auto;
    position: absolute;
    cursor: grab;
    object-fit: cover;
    padding: 0;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90vw;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

hr {
    margin: 10px 0;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#fileInput {
    margin-bottom: 10px;
}

.right-row {
    display: flex;
}

.row-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .body {
        flex-direction: column;
        height: auto;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .left,
    .right {
        padding: 10px;
    }

    .right-row {
        margin-top: 10px;
    }
}

select,
input[type='date'] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type='text'] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

input[type='checkbox'].switch{
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    transition: border-color .3s, background-color .3s;
}

label {
    margin-top: auto;
    margin-bottom: auto;
}

input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0, 0, 2px, #999;
    transition:.4s;
    top: 2px;
    position: absolute;
    left: 2px;
}

input[type='checkbox'].switch:checked {
    background: rgb(19, 206, 102);
}
/* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
input[type='checkbox'].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}